{% extends 'base.html' %}
{% load static %}
{% block content %}


    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Details</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">IDK</a></li>
                        <li class="breadcrumb-item active">Details</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start About Page  -->
    <div class="about-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="banner-frame"> <img class="img-fluid" src="{{ product.image.url }}" alt="" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <h2 class="noo-sh-title-top">{{ product.name }}</h2>
                                        <h4>Price:</h4>
                    <p><strong>${{ product.price }}</strong></p>
                    {% if product.stock > 0 %}
                        <p><strong>{{ product.stock }} items available</strong></p>
                        <h4>Description</h4>
                        <p>{{ product.description }}</p>
                        <a class="btn hvr-hover" href="{% url 'cart:addtocart' product.id %}">Add to Cart</a>
                    {% else %}
                        <p><strong>Not available</strong></p>
                        <h4>Description</h4>
                        <p>{{ product.description }}</p>
                        {% if request.user.is_superuser %}
                        <form method="post" style="margin-top: 15px;">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="stock">Add Stock:</label>
                                <input type="number" min="1" name="stock" id="stock" class="form-control" required>
                            </div>
                            <button type="submit" class="btn hvr-hover">Add to Stock</button>
                        </form>
                        {% else %}
                        <a class="btn hvr-hover disabled" href="{% url 'cart:addtocart' product.id %}">Add to Cart</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
