{% extends 'base.html' %}
{% load static %}    
{% block content %}
    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Cart</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active">Cart</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start Cart  -->
    <div class="cart-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-main table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Images</th>
                                    <th>Product Name</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th>Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in cart_items %}
                                <tr>
                                    <td class="thumbnail-img">
                                        <a href="{% url 'shop:about' item.product.id %}">
                                            <img class="img-fluid" src="{{ item.product.image.url }}" alt="" />
                                        </a>
                                    </td>
                                    <td class="name-pr">
                                        <a href="{% url 'shop:about' item.product.id %}">
                                            {{ item.product.name }}
                                        </a>
                                    </td>
                                    <td class="price-pr">
                                        <p>${{ item.product.price }}</p>
                                    </td>
                                    <td class="price-pr">
                                        <p>{{ item.quantity }}</p>
                                    </td>
                                    <td class="total-pr">
                                        <p>${{item.subtotal}}</p>
                                    </td>
                                    <td class="remove-pr">
                                        <a href="{% url 'cart:cartdecrement' item.id %}">
                                            <i class="fa-solid fa-minus"></i>
                                        </a>
                                        <a href="{% url 'cart:addtocart' item.product.id %}">
                                            <i class="fa-solid fa-plus"></i>
                                        </a>
                                        <a href="{% url 'cart:cartdelete' item.id %}">
                                            <i class="fas fa-times"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr><td colspan="6">Your cart is empty.</td></tr>
                                {% endfor %}
                                </tr>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row my-5">
                <div class="col-lg-6 col-sm-6">
                    <div class="coupon-box">
                        <div class="input-group input-group-sm">
                            <input class="form-control" placeholder="Enter your coupon code" aria-label="Coupon code" type="text">
                            <div class="input-group-append">
                                <button class="btn btn-theme" type="button">Apply Coupon</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="update-box">
                        <input value="Update Cart" type="submit">
                    </div>
                </div>
            </div>

            <div class="row my-5">
                <div class="col-lg-8 col-sm-12"></div>
                <div class="col-lg-4 col-sm-12">
                    <div class="order-box">
                        <h3>Order summary</h3>

                        <div class="d-flex gr-total">
                            <h5>Grand Total</h5>
                            <div class="ml-auto h5">${{ subtotal|floatformat:2 }}</div>
                        </div>
                        <hr> </div>
                </div>
                <div class="col-12 d-flex shopping-box"><a href="{% url 'cart:checkout' %}" class="ml-auto btn hvr-hover">Checkout</a> </div>
            </div>

        </div>
    </div>
    <!-- End Cart -->
{% endblock %}